<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library App</title>
    <link rel="stylesheet" href="fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/stylesheet.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style th:replace="styling.html">
    </style>
    <title>User Profile</title>
</head>

<body xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<header class="tm-header" id="tm-header">
    <div class="tm-header-wrapper">
        <nav class="tm-nav" id="tm-nav">
        </nav>
    </div>
</header>

<div class="container-fluid">
    <main class="tm-main">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button
                        class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navbar brand -->
                    <a class="navbar-brand mt-2 mt-lg-0 active" th:href="@{/}">
                        <img
                                src="https://wareham.theweektoday.com/sites/beaverdam/files/2014/10/field/image/Friends%20logo.png"
                                height="55"
                                width="50"
                                alt="Library Logo"
                                loading="lazy"
                        />
                    </a>
                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link">Промени го профилот</a> <!-- @{/user...} -->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/help}">Помош</a>
                        </li>
                    </ul>
                </div>
                <!-- Right elements -->
                <div class="d-flex align-items-center">
                    <!-- Icon -->
                    <a class="text-reset me-3" href="#">
                        <i class="fas fa-shopping-cart"></i>
                    </a>

                    <!-- Notifications -->
                    <!--                    ovoj dropdown ne raboti, samo linkot so span vgnezden za kosnicka raboti :(-->
                    <div class="dropdown"> <button sec:authorize="isAuthenticated()" class="dropbtn">
                        <a th:href="@{/reservations/current}" style="margin-right: 5px">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                        </a></button>
                        <ul
                                class="dropdown-menu dropdown-menu-end"
                                aria-labelledby="navbarDropdownMenuLink"
                        >
                            <li>
                                <a class="dropdown-item" href="#">Some news</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Another news</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Avatar -->
                    <!--                    ova da se gleda samo korisnikot koga e najaven, inaku da gleda registracija/najava-->
                    <div class="dropdown">
                        <button class="dropbtn"> <a>
                            <span class="glyphicon glyphicon-user"></span>
                        </a></button>
                        <div class="dropdown-content">
                            <a th:href="@{/users/profile}">Профил</a>
                            <a href="#">Одјава</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="row tm-row">
            <div>
                <a href="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png"></a>
            </div>



            <article th:each="book: ${books}" class="col-12 col-md-4 tm-post" style="width: 300px;">
                <hr class="tm-hr-primary">
                <a th:href="@{'/books/{id}' (id=${book.getId()})}" class="effect-lily tm-post-link tm-pt-60">
                    <div class="tm-post-link-inner">

                        <img th:src="${book.getUrl()}" style="width: 300px; height: 400px;" alt="Image"
                             class="img-fluid">
                    </div>
                    <span class="position-absolute tm-new-badge">Recommended</span>
                    <h2 class="tm-pt-30 tm-color-primary tm-post-title" th:text="${book.getName()}"></h2>
                </a>
                <div class="d-flex justify-content-between tm-pt-45">
                    <span class="tm-color-primary" th:text="${book.getAuthor()}"></span>
                    <!--                    <span class="tm-color-primary">June 24, 2020</span>-->
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <span th:text="${book.getStock()}"></span>
                    <span th:text="${book.getRating()}"></span>
                </div>
            </article>
        </div>
    </main>
</div>
<script src="js/jquery.min.js"></script>
<script src="../static/javascript-jquery.js"></script>
</body>
</html>