<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Xtra Blog</title>
  <link rel="stylesheet" href="fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <style th:replace="fragments/styling">

  </style>

  <!--

  TemplateMo 553 Xtra Blog

  https://templatemo.com/tm-553-xtra-blog

  -->
</head>
<body>
<header class="tm-header" id="tm-header">
  <div class="tm-header-wrapper">

    <nav class="tm-nav" id="tm-nav">
      <h2 align="center">КАТЕГОРИИ</h2>
      <ul>
        <li th:each="cat: ${categories}" class="tm-nav-item"><a th:href="@{'/books/search/{id}' (id=${cat.getId()})}" th:text="${cat.getName()}" class="tm-nav-link">
          <i class="fas fa-home"></i>
        </a></li>
      </ul>
    </nav>

    <div class="tm-mb-65">
      <a rel="nofollow" href="https://fb.com/templatemo" class="tm-social-link">
        <i class="fab fa-facebook tm-social-icon"></i>
      </a>
      <a href="https://twitter.com" class="tm-social-link">
        <i class="fab fa-twitter tm-social-icon"></i>
      </a>
      <a href="https://instagram.com" class="tm-social-link">
        <i class="fab fa-instagram tm-social-icon"></i>
      </a>
      <a href="https://linkedin.com" class="tm-social-link">
        <i class="fab fa-linkedin tm-social-icon"></i>
      </a>
    </div>

  </div>
</header>
<div class="container-fluid">
  <main class="tm-main">
    <!-- Search form -->
    <div class="row tm-row">
      <div class="col-12">
        <form th:method="GET" th:action="@{/books/search}" class="form-inline tm-mb-80 tm-search-form">
          <input class="form-control tm-search-input" name="authorOrTitle" type="text" placeholder="Пребарај по наслов/автор..." aria-label="Search">
          <button class="tm-search-button" type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </form>

      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar brand -->
          <a class="navbar-brand mt-2 mt-lg-0 active" th:href="@{/}">
            <img
                    src="https://wareham.theweektoday.com/sites/beaverdam/files/2014/10/field/image/Friends%20logo.png"
                    height="55"
                    width="50"
                    alt="Library Logo"
                    loading="lazy"
            />
          </a>
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/books/topRated}">Најдобро рангирани</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Најизнајмувани</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/help}">Помош</a>
            </li>
          </ul>
          <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
          <!-- Icon -->
          <a class="text-reset me-3" href="#" f>
            <i class="fas fa-shopping-cart"></i>
          </a>

          <!-- Notifications -->
          <!--                    ovoj dropdown ne raboti, samo linkot so span vgnezden za kosnicka raboti :(-->
          <div class="dropdown"> <button class="dropbtn">
            <a th:href="@{/reservations/current}" style="margin-right: 5px">
              <span class="glyphicon glyphicon-shopping-cart"></span>
            </a></button>
            <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="navbarDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" href="#">Some news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </div>
          <!-- Avatar -->
          <!--                    ova da se gleda samo korisnikot koga e najaven, inaku da gleda registracija/najava-->
          <div class="dropdown">
            <button class="dropbtn"> <a>
              <span class="glyphicon glyphicon-user"></span>
            </a></button>
            <div class="dropdown-content">
              <a th:href="@{/users/profile}">Профил</a>
              <a href="#">Одјава</a>
            </div>
          </div>

          <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
      </div>
    </nav>
    <div class="row tm-row tm-mb-45">
      <div class="col-12">
        <hr class="tm-hr-primary tm-mb-55">
        <img src="../static/about-01.jpg" alt="Image" class="img-fluid">
      </div>
    </div>
    <div class="row tm-row tm-mb-40">
      <div class="col-12">
        <div class="mb-4">
          <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title">About this xtra blog</h2>
          <p>
            You can immediately download
            <a rel="nofollow" href="https://templatemo.com/tm-553-xtra-blog" target="_blank">Xtra Blog Template</a>
            from TemplateMo website for 100% free of charge. Etiam vehicula, tortor ac eleifend tincidunt, diam neque pellentesque ipsum,
            a geugiat eros mauris eget lorem. Quisque in
            bibendum elit, in egestas turpis. Vestibulum ornare sollicitudin congue. Aliquam lorem mi, maximus at iaculis ut, viverra vel
            mauris. Duis congue luctus metus, sodales tincidunt lectus fringilla ut. Nunc tempus at magna sed vestibulum.
          </p>
          <p>
            Proin et arcu ligula. Praesent quis erat eu est solliditudin tristique ut in arcu. Donec bibendum ex id ligula semper dictum.
            Proin malesuada luctus auctor. Suspendisse ullamcorper, mi vel molestie ornare, arcu magna euismod ipsum, in
            malesuada nulla magna ut enim. Morbi lacinia magna sed sapien auctor, vitae luctus nunc cursus.
          </p>
        </div>
      </div>
    </div>
    <div class="row tm-row tm-mb-120">
      <div class="col-lg-4 tm-about-col">
        <div class="tm-bg-gray tm-about-pad">
          <div class="text-center tm-mt-40 tm-mb-60">
            <i class="fas fa-bezier-curve fa-4x tm-color-primary"></i>
          </div>
          <h2 class="mb-3 tm-color-primary tm-post-title">Background</h2>
          <p class="mb-0 tm-line-height-short">
            Phasellus pulvinar nisl ornare leo porttitor, et vestibulum lorem semper.
            Duis risus ex, molestie sit amet magna in,
            pharetra pellentesque est. Curabitur elit metus.
          </p>
        </div>
      </div>
      <div class="col-lg-4 tm-about-col">
        <div class="tm-bg-gray tm-about-pad">
          <div class="text-center tm-mt-40 tm-mb-60">
            <i class="fas fa-users-cog fa-4x tm-color-primary"></i>
          </div>
          <h2 class="mb-3 tm-color-primary tm-post-title">Teamwork</h2>
          <p class="mb-0 tm-line-height-short">
            Suspendisse ullamcorper, mi vel molestie ornare, arcu magna euismod ipsum, in malesuada nulla magna ut enim.
            Morbi lacinia magna sed auctor, vitae nunc cursus.
          </p>
        </div>
      </div>
      <div class="col-lg-4 tm-about-col">
        <div class="tm-bg-gray tm-about-pad">
          <div class="text-center tm-mt-40 tm-mb-60">
            <i class="fab fa-creative-commons-sampling fa-4x tm-color-primary"></i>
          </div>
          <h2 class="mb-3 tm-color-primary tm-post-title">Our Core Value</h2>
          <p class="mb-0 tm-line-height-short">
            Nunc mi ante, suscipit vel dapibus et, volutpat sit amet ante. In tempor nec sem vitae varius. Aliquam tincidunt orci sem, et imperdiet massa consectetur nec.
          </p>
        </div>
      </div>
    </div>
    <div class="row tm-row tm-mb-60">
      <div class="col-12">
        <hr class="tm-hr-primary  tm-mb-55">
      </div>
      <div class="col-lg-6 tm-mb-60 tm-person-col">
        <div class="media tm-person">
          <img src="../static/about-02.jpg" alt="Image" class="img-fluid mr-4">
          <div class="media-body">
            <h2 class="tm-color-primary tm-post-title mb-2">John Henry</h2>
            <h3 class="tm-h3 mb-3">CEO/Founder</h3>
            <p class="mb-0 tm-line-height-short">
              Aliquam non vulputate lectus, vel ultricies diam. Suspendisse at ipsum
              hendrerit, vestibulum mi id, mattis tortor.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 tm-mb-60 tm-person-col">
        <div class="media tm-person">
          <img src="../static/about-03.jpg" alt="Image" class="img-fluid mr-4">
          <div class="media-body">
            <h2 class="tm-color-primary tm-post-title mb-2">Timy Cake</h2>
            <h3 class="tm-h3 mb-3">Project Director</h3>
            <p class="mb-0 tm-line-height-short">
              Quisque in bibendum elit, in egestas turpis. Vestibulum ornare sollicitudin congue.
              Aliquam lorem mi, maximus at iaculis ut.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 tm-mb-60 tm-person-col">
        <div class="media tm-person">
          <img src="../static/about-04.jpg" alt="Image" class="img-fluid mr-4">
          <div class="media-body">
            <h2 class="tm-color-primary tm-post-title mb-2">Jay Zoona</h2>
            <h3 class="tm-h3 mb-3">Supervisor</h3>
            <p class="mb-0 tm-line-height-short">
              Maecenas eu mi eu dui cursus consequat non eu metus. Morbi ac
              turpis eleifend, commodo purus eget, commodo mauris.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 tm-mb-60 tm-person-col">
        <div class="media tm-person">
          <img src="../static/about-05.jpg" alt="Image" class="img-fluid mr-4">
          <div class="media-body">
            <h2 class="tm-color-primary tm-post-title mb-2">Catherine Soft</h2>
            <h3 class="tm-h3 mb-3">Team Leader</h3>
            <p class="mb-0 tm-line-height-short">
              Integer eu sapien hendrerit,
              imperdiet arcu sit amet, sollicitudin ipsum.
              Phasellus consequat suscipit ligula eget bibendum.
            </p>
          </div>
        </div>
      </div>
    </div>
    <footer class="row tm-row">
      <div class="col-md-6 col-12 tm-color-gray">
        Design: <a rel="nofollow" target="_parent" href="https://templatemo.com" class="tm-external-link">TemplateMo</a>
      </div>
      <div class="col-md-6 col-12 tm-color-gray tm-copyright">
        Copyright 2020 Xtra Blog Company Co. Ltd.
      </div>
    </footer>
  </main>
</div>
<script src="js/jquery.min.js"></script>
<script src="../static/javascript-jquery.js"></script>
</body>
</html>